<app-header></app-header>

<div class="phovoirdetail" *ngIf="produit; else loadingOrError">

    <div class="product-detail">

        <!-- BOUTON RETOUR -->
        <button
            class="btn btn-secondary btn-retour"
            (click)="goBack()">
            <i class="fas fa-arrow-left"></i>
        </button>


        <!-- IMAGE DU PRODUIT -->
        <div class="product-image-container">

            <img
                *ngIf="produit.image"
                class="product-image"
                [src]="'http://localhost:8000/storage/' + produit.image"
                [alt]="produit.nom"
            />

        </div>


        <!-- INFORMATIONS DU PRODUIT -->
        <div class="product-info">

            <h1>{{ produit.nom }}</h1>

            <p>{{ produit.description }}</p>

            <div class="product-price">

                <span>
                    Prix :
                    <strong>{{ produit.prix }} CFA</strong>
                </span>

                <span>
                    Quantité :
                    <strong>{{ produit.quantite }} litre(s)</strong>
                </span>

            </div>


            <!-- AJOUTER AU PANIER -->
            <button
                class="add-to-cart"
                (click)="ajouterAuPanier(produit)">
                Ajouter au panier
            </button>

        </div>

    </div>

</div>


<!-- CHARGEMENT / ERREUR -->

<ng-template #loadingOrError>

    <div
        *ngIf="errorMessage"
        class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <div
        *ngIf="!errorMessage"
        class="alert alert-info">
        Chargement des détails du produit...
    </div>

</ng-template>


<app-footer></app-footer>
