<!-- 
<div class="container" *ngIf="produit; else loadingOrError">
    <h2>Détails du Produit</h2>
    <div class="card">
      <div class="card-header">
        {{ produit.nom }} ({{ produit.reference }})
      </div>
      <div class="card-body">
        <img [src]="produit.image" alt="{{ produit.nom }}" class="img-fluid mb-3" style="max-width: 200px;">
        <p><strong>Description:</strong> {{ produit.description }}</p>
        <p><strong>Prix:</strong> {{ produit.prix | currency }}</p>
        <p><strong>Quantité:</strong> {{ produit.quantite }}</p>
        <p><strong>Catégorie:</strong> {{ produit.categorie?.nom_complet }}</p>
        Ajouter d'autres détails si nécessaire 
      </div>
    </div>
    <button class="btn btn-secondary mt-3" (click)="goBack()">Retour</button>
  </div>
  
  <ng-template #loadingOrError>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="!errorMessage" class="alert alert-info">
      Chargement des détails du produit...
    </div>
  </ng-template>
   -->

   
   <app-header></app-header>
     <div class="phovoirdetail" *ngIf="produit; else loadingOrError">
    <div class="product-detail">
        <img *ngIf="produit.image" [src]="'http://localhost:8000/storage/' + produit.image" alt="{{ produit.nom }}" />
        <div class="product-info">
            <h1>{{ produit.nom }}</h1>
            <p>{{ produit.description }}</p>

            <div class="product-price">
              <span>Prix : {{ produit.prix }} CFA</span>
              <span>Quantité : {{ produit.quantite }} litre(s)</span>
            </div>
<button class="add-to-cart" (click)="ajouterAuPanier(produit)">Ajouter au panier</button>

           </div>
    </div>
</div>

<ng-template #loadingOrError>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <div *ngIf="!errorMessage" class="alert alert-info">
        Chargement des détails du produit...
    </div>
</ng-template>

<app-footer></app-footer>