<body>
    <body>
      <div class="login-container">
        <h1 class="mb-4">CONNEXION</h1>
        <form (ngSubmit)="connexion()">
  
            <input type="email" id="email" class="form-control" placeholder="Entrez votre email" [(ngModel)]="userObjet.email" name="email" required>
  
            <input type="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" [(ngModel)]="userObjet.password" name="password" required>
  
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        <div class="form-footer">
          <a href="/inscription_user">Pas encore de compte ? Inscrivez-vous</a>
        </div>
      </div>
    </body>
  
  </body>
  
 