<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="login-container">
        <!-- Formulaire de connexion -->
        <div class="login-form">
            <h2>Connexion</h2>
            <form action="#" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <button type="submit">Connecter</button>
                <p>Pas de compte ? <a href="#">Créer un compte</a></p>
            </form>
        </div>

        <!-- Image à droite -->
        <div class="login-image">
            <img src="../assets/images/frommage.jpeg" alt="Image de connexion">
        </div>
    </div>
</body>
</html>
