<div class="dashboard-container">
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-title">Tableau de Bord Représentant</div>
        <div class="navbar-right">
            <div class="profile-section">
                <strong><h3>Représentant</h3></strong>  
                <img src="../assets/images/frommage.jpeg" alt="Profile" class="profile-image">
                <div class="notifications" (click)="openNotificationsModal()">
                    <i class="fas fa-bell"></i>
                    <span *ngIf="notifications.length >0" class="badge">{{ notifications.length }}</span>
                </div>
            </div>
        </div>
    </nav>

<div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h3>Notifications</h3>
      <ul>
        <li *ngFor="let notification of notifications">
          {{ notification.description }} 
        </li>
      </ul>
      <button (click)="closeNotificationsModal()">Fermer</button>
    </div>
  </div>
  
<aside class="sidebar">
        <nav>
         <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a routerLink="/commande" routerLinkActive="active"><i class="fas fa-receipt"></i>Commandes reçues</a></li>
            <li><a routerLink="parametre" routerLinkActive="active"><i class="fas fa-cog"></i> Parametre</a></li>
         </ul>
        </nav>
        <button class="deconnexion" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
</aside>

    <main class="main-content">
        <div class="cards-container">
            <div *ngFor="let card of cards" class="card" (click)="cardClicked(card)">
                <div class="card-icon">
                </div>
                
                <div class="card-content">
                    <h3>{{ card.title }}</h3>
                    <p>{{ card.value }}</p>
                </div>
            </div>
        </div>
    </main>
</div>