/* Style du conteneur du formulaire */
form {
    background-color: #f9f9f9; /* Couleur de fond claire */
    padding: 20px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    margin: 20px auto; /* Marge autour du formulaire */
    max-width: 400px; /* Largeur maximale */
}

label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold; 
}

input[type="number"] {
    width: 100%; /* Largeur complète */
    padding: 10px; /* Espacement interne */
    margin-bottom: 15px; /* Espacement sous chaque champ */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 1px; /* Coins arrondis */
    box-sizing: border-box; /* Inclut la bordure dans la largeur totale */
}

button[type="submit"] {
    background-color: #3F7E44; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 1px; /* Coins arrondis */
    cursor: pointer; /* Curseur en main */
    transition: background-color 0.3s; /* Transition de couleur */
}

button[type="submit"]:hover {
    background-color: #88A44B; /* Couleur légèrement plus foncée au survol */
}

button {
    text-align: center;
    background-color: #3F7E44; /* Couleur bleue */
    color: white; /* Couleur du texte blanc */
    padding: 10px 20px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 1px; /* Coins arrondis */
    cursor: pointer; /* Curseur en main */
    transition: background-color 0.3s; /* Transition de couleur */
    margin-top: 15px; /* Espacement au-dessus du bouton */
}


