<div class="body">



  <app-header></app-header>


  <section id="hero">
    <div class="text-content">
      <h1>Découvrez Ferlo Kosamnay</h1>
      <p>100% naturels, votre source de lait et produits laitiers.</p>
      <p>Prolongez la fraîcheur du lait, savourez la qualité toute l’année.</p>
      <button>  
        
        <a href="produit" class="voirplus">Voir plus</a>

          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
          <div class="bubble"></div>
        
      </button>

      <!-- <a href="produit.html" class="btn-savoir-plus">En savoir Plus</a> -->

    </div>
    <img src="../assets/images/baniere1.png" alt="Image de bannière">
  </section>
  

  

  
  <section id="pourquoi-choisir">
    <h2>Pourquoi commander chez nous ?</h2>
    <div class="caracteristiques">
      <div>
        <h3>Commandez rapidement</h3>
        <p>Nous assurons une commande rapide et <br> fiable pour tous nos clients.</p>
      </div>
      <div>
        <h3>Produits de qualité</h3>
        <p>Nos produits sont soigneusement <br> sélectionnés pour garantir la meilleure <br> qualité.</p>
      </div>
      <div>
        <h3>Service client 24/7</h3>
        <p>Notre service client est disponible 24/7 pour <br> répondre à toutes vos questions.</p>
      </div>
    </div>
  </section>
  <hr>
  
  

  <section id="a-propos">
    <h4>A propos de ferlo Kosamnay</h4>
    <div class="content">
        
      <div class="text-gauche">
        <h3>Bienvenue sur Ferlo KosamnayV</h3>
        <p>Votre plateforme dédiée aux produits laitiers du Ferlo.</p>
        <p>
          Ferlo Kosamnay valorise la production laitière locale, exclusivement issue
          des vaches élevées dans la région du Ferlo. Nos producteurs, passionnés
          par leur métier, proposent des produits laitiers de qualité.
        </p>
        <p>
          Nous offrons une gamme authentique de produits, notamment du lait frais,
          du lait caillé, de l’huile de vache et des fromages artisanaux. 
        </p>
        <p>
          Explorez Ferlo Kosamnay et découvrez le meilleur des produits laitiers
          traditionnels du Ferlo, directement de nos éleveurs à votre table !
        </p>
      </div>
      <div class="image-droite">
        <img src="../assets/images/Aprpos2.jpg" alt="Produits laitiers du Ferlo" />
        <!-- <button>Voir plus</button> -->
      </div>
    </div>
  </section>
  
  
  <section id="categories">
    <h2>Nos Catégories</h2>
    <div class="grille-categories">
        
        <div class="carte">
            <a href="categorie">
                <img src="/assets/images/lait-caille.jpeg" alt="Lait caillé" class="image-circulaire">
                <h3>Lait caillé</h3>
            </a>
        </div>

        
        <div class="carte">
            <a href="categorie">
                <img src="/assets/images/huile-vache.jpeg" alt="Huile de vache" class="image-circulaire">
                <h3>Huile de vache</h3>
            </a>
        </div>

        <div class="carte">
            <a href="categorie">
                <img src="/assets/images/frommage.jpeg" alt="Fromage" class="image-circulaire">
                <h3>Fromage</h3>
            </a>
        </div>

        <div class="carte">
            <a href="categorie">
                <img src="/assets/images/lait.jpeg" alt="Lait" class="image-circulaire">
                <h3>Lait</h3>
            </a>
        </div>

    </div>
</section>






  <!-- <section id="categories">
    <h2>Nos Catégories</h2>
    <div class="grille-categories">
        <div class="carte">
            <img src="/assets/images/lait-caille.jpeg" alt="Lait caillé" class="image-circulaire">
            <h3>Lait caillé</h3>
        </div>
        <div class="carte">
            <img src="/assets/images/huile-vache.jpeg" alt="Huile de vache" class="image-circulaire">
            <h3>Huile de vache</h3>
        </div>
        <div class="carte">
            <img src="/assets/images/frommage.jpeg" alt="Fromage" class="image-circulaire">
            <h3>Fromage</h3>
        </div>
        <div class="carte">
            <img src="/assets/images/lait.jpeg" alt="Lait" class="image-circulaire">
            <h3>Lait</h3>
        </div>
        
    </div>
    
</section> -->

<!-- 
  <section id="categories">
    <h2>Nos Catégories</h2>
    <div class="grille-categories" >
        <div class="carte" *ngFor="let categorie of categories">
          <img [src]="categorie.image" alt="{{ categorie.nom_complet }}" class="image-circulaire"> 
          <h3>{{ categorie.nom_complet }}</h3>
        </div>
    </div>
</section> -->

  

<!-- Section "Comment ça marche ?" -->
<section class="how-it-works-section">
  <h2 class="section-title">Comment ça marche ?</h2>
  
  <div class="steps-container">
    <div class="step">
      <h3 class="step-title">Ajouter au panier</h3>
      <img src="/assets/images/panier.jpg" alt="Faites-vous livrer" class="step-image">
    </div>


    <div class="step">
      <h3 class="step-title">Passez vos commandes</h3>
      <img src="/assets/images/commander.png" alt="Passez vos commandes" class="step-image">
    </div>
   
    <div class="step">
      <h3 class="step-title">Passer a la caisse</h3>
      <img src="/assets/images/caisse.jpg" alt="Payez à la livraison" class="step-image">
    </div>
  </div>
</section>          








<section id="produits">
    <h2>Nos produits</h2>
    <div class="grille-produits">
        <div class="carte-produit">
            <div class="contenu-produit">
                <h3><strong>Lait</strong></h3>
                <p>Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.
                  Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.
                  Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.
                  Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.</p>
                <button>Voir détail</button>
            </div>
            <img src="../assets/images/laitp.jpeg" alt="Lait" class="image-produit">
        </div>
        <div class="carte-produit">
            <div class="contenu-produit">
                <h3><strong>Fromage</strong></h3>
                <p>Fromage riche et crémeux, parfait pour accompagner vos repas au grignoter.
                  Fromage riche et crémeux, parfait pour accompagner vos repas au grignoter.
                  Naturelle, issue de la tradition, idéal pour la cuisson et la préparation culinaires.
                  Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.</p>
                <button>Voir détail</button>
            </div>
            <img src="../assets/image/télécharger (12).png" alt="Fromage" class="image-produit">
        </div>
        <div class="carte-produit">
            <div class="contenu-produit">
                <h3><strong>Huile de vache</strong></h3>
                <p>Naturelle, issue de la tradition, idéal pour la cuisson et la préparation culinaires.
                  Naturelle, issue de la tradition, idéal pour la cuisson et la préparation culinaires.
                  Naturelle, issue de la tradition, idéal pour la cuisson et la préparation culinaires.
                  Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.</p>
                <button>Voir détail</button>
            </div>
            <img src="../assets/image/télécharger (20).png" alt="Huile de vache" class="image-produit">
        </div>
        <div class="carte-produit">
            <div class="contenu-produit">
                <h3><strong>Lait caillé</strong></h3>
                <p>Délicieux et onctueux, prêt à être dégusté seul ou avec vos plats préférés.
                  Délicieux et onctueux, prêt à être dégusté seul ou avec vos plats préférés.
                  Délicieux et onctueux, prêt à être dégusté seul ou avec vos plats préférés.
                  Frais et savoureux, idéal pour toutes vos recettes et besoins quotidiens de la vie.
                </p>
                <button>Voir détail</button>
            </div>
            <img src="../assets/image/télécharger (4).png" alt="Lait caillé" class="image-produit">
        </div>
      </div>
      <!-- <a href="/ProduitsAdmin" class="view-more-btn">Voir plus</a> -->

      <div class="voirplus">
        <a href="produit" class="voirplus">Voir plus</a>

    <!-- <button>Voir plus</button> -->
    </div>
</section>







<!-- <section id="partenaires">
    <h2>Nos différents partenaires</h2>
    <p>
        <strong>Chez Ferlo Kosamnay, nous sommes fiers de collaborer avec plusieurs partenaires de <br>
        premier plan, chacun jouant un rôle essentiel dans la réussite de notre mission pour <br>
        une commercialisation durable des produits laitiers.</strong>
    </p>
    <div class="grille-partenaires">
        <div class="carte-partenaire">
            <h4>Simplon Sénégal</h4>
            <p>Simplon Sénégal apporte son savoir-faire en matière de formation numérique.</p>
            <p class="partenariat-duration">03 ANS de PARTENARIAT</p>
            <img src="../assets/images/SENEGAL SIMPLON.png" alt="Simplon Sénégal">
        </div>
        <div class="carte-partenaire">
            <h4>Partenaire 2</h4>
            <p>Description du partenaire 2 et son rôle.</p>
            <p class="partenariat-duration">03 ANS de PARTENARIAT</p>
            <img src="../assets/images/SENEGAL SIMPLON.png" alt="Partenaire 2">
        </div>
        <div class="carte-partenaire">
            <h4>Partenaire 3</h4>
            <p>Description du partenaire 3 et son rôle.</p>
            <p class="partenariat-duration">03 ANS de PARTENARIAT</p>
            <img src="../assets/images/SENEGAL SIMPLON.png" alt="Partenaire 3">
        </div>
    </div>
</section> -->






<h2 class="section-title">Témoignages</h2>

<section class="temoignages-section">
  <div class="temoignages-container">
    <div *ngFor="let temoignage of temoignages; let i = index" 
         [ngClass]="{'active': i === activeTemoignageIndex}">
      <blockquote>
        <p>{{ temoignage.content }}</p>
        <footer class="author">{{ temoignage.author }}</footer>
      </blockquote>
    </div>
    <!-- Flèche "précédent" -->
    <span class="prev" (click)="changeTestimonial(activeTemoignageIndex - 1)">&#10094;</span>
    <!-- Flèche "suivant" -->
    <span class="next" (click)="changeTestimonial(activeTemoignageIndex + 1)">&#10095;</span>
  </div>

  <div class="pages">
    <span *ngFor="let temoignage of temoignages; let i = index"
          (click)="changeTestimonial(i)" 
          [ngClass]="{'active': i === activeTemoignageIndex}">
      ●
    </span>
  </div>
</section>





  
  

<div class="min-h-screen bg-white-800 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-gray-700 to-gray-900 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 bg-[#99B951] shadow-lg sm:rounded-3xl sm:p-20">

        <div class="text-center pb-6">
            <h1 class="text-5xl text-white">Contacter-nous!</h1>
            <p class="text-lg text-white">
              Remplissez le formulaire ci-dessous pour nous envoyer un message.
            </p>
          </div>
          

      <form>
        <input
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          type="text" placeholder="Nom" name="name">

        <input
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          type="email" placeholder="Email" name="email">

        <input
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          type="text" placeholder="Sujet" name="_subject">

        <textarea
          class="shadow mb-4 appearance-none border border-gray-500 rounded w-full py-2 px-3 bg-white text-gray-800 leading-tight focus:outline-none focus:shadow-outline"
          placeholder="Tapez votre message ici..." name="message" style="height: 121px;"></textarea>

          <div class="flex justify-between">
            <input
              class="shadow bg-[#D2B48C] hover:bg-[#C1A17B] text-[#36494E] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit" value="Envoyer ➤">
            <input
              class="shadow bg-[#D2B48C] hover:bg-[#C1A17B] text-[#36494E] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="reset" value="Réinitialiser">
          </div>
          
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
 
  
  


  



  









</div>