
/* Section Hero*/

.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le débordement horizontal global */
  
}

#hero::before,
#hero::after {
  content: "welcome";
  color: #000;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #99B951;
  animation: glognote 1s infinite alternate;
  display: flex; /* Permet de centrer le contenu */
  align-items: center; /* Centre verticalement le texte */
  justify-content: center; /* Centre horizontalement le texte */
  font-size: 0.8em; /* Ajustez la taille du texte si nécessaire */
}


/* Positionnement des bulles principales */
#hero::before {
  top: 35%;
  left: 57%;
}

#hero::after {
  bottom: 20%;
  right: 10%;
}

/* Animation des bulles principales */
@keyframes glognote {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

/* Styles pour les petites bulles */
.bubble {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #99B951; /* Couleur de la petite bulle */
  animation: float 1.5s infinite ease-out;
}

/* Animation des petites bulles */
@keyframes float {
  0% {
    transform: scale(0.5) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(calc(-50px + 100px * var(--x)), calc(-50px + 100px * var(--y)));
    opacity: 0;
  }
}

/* Positions aléatoires des petites bulles autour de la bulle principale */
.bubble:nth-child(1) { --x: -1; --y: -1; }
.bubble:nth-child(2) { --x: 5; --y: 11; }
.bubble:nth-child(3) { --x: -1; --y: 14; }
.bubble:nth-child(4) { --x: 1; --y: -1; }


#hero {

  display: flex; /* Utilisation de Flexbox pour aligner les éléments */
  align-items: center; /* Alignement vertical des éléments */
  justify-content: space-between; /* Répartir les éléments sur toute la largeur */
  padding: 10px 10px; /* Espacement intérieur */
  margin-left: 3%;

}

#hero .text-content {
  max-width: 70%; /* Limiter la largeur du texte pour permettre de l'espace pour l'image */
  margin-top: 16%;
}

#hero h1 {
  font-size: 2.5em; /* Taille du titre */
  margin: 0 0 20px 0; /* Espacement sous le titre */
  font-weight: bold; /* Gras pour le titre */
}

#hero p {
  font-size: 2em; /* Taille du texte du paragraphe */
  margin: 20px 0; /* Espacement vertical entre les paragraphes */
}

#hero button {
  background-color: #3F7E44; 
  padding: 7px 18px; /* Espacement intérieur du bouton */
  font-size: 1.6em; 
  cursor: pointer; 
  margin-top: 10px; 
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */color: white; 
  border: none; 
  border-radius: 3px; 
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer; 
  
}

#hero button:hover {
  background-color: #99B951; /* Couleur de fond au survol */
}

#hero img {
  margin-top: 11%;

  max-width: 50%; /* Limiter la largeur de l'image */
  height: auto; /* Conserver les proportions de l'image */
  object-fit: cover; /* Couvrir l'espace sans déformer l'image */
  margin-left: 3%;

}


/* Styles pour écrans mobiles */
/* Styles pour écrans mobiles */
@media (max-width: 768px) {
  #hero {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  #hero .text-content {
    max-width: 90%;
    margin-top: 40%;
    margin-bottom: 15px;
  }

  #hero img {
    max-width: 80%;
    margin: 20px auto 0;
    display: block;
  }

  /* Positionnement des bulles */
  #hero::before, #hero::after {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
  }

  /* Bulle supérieure */
  #hero::before {
    top: 60%;
    left: 70%;
    transform: translateX(-50%);
  }

  /* Bulle inférieure */
  #hero::after {
    bottom: 15%;
    left: 13%;
    transform: translateX(-50%);
  }

  
}














/* Section pourquoi-choisir */ 
#pourquoi-choisir {
  background-color: #3F7E44; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 30px 10px; /* Espacement intérieur */
}

#pourquoi-choisir h2 {
  text-align: center; /* Centrer le titre principal */
  margin-bottom: 30px; /* Espacement en dessous du titre */
  font-family: 'Roboto', sans-serif; /* Police pour H1 */


  font-size: 1.6em;
  margin-bottom: 20px;
  text-transform: uppercase;

}

.caracteristiques {
  display: flex; /* Utilisation de Flexbox pour aligner les cartes */
  justify-content: center; /* Centrer les cartes dans la section */
  gap: 45px; /* Espacement horizontal entre les cartes */
  flex-wrap: wrap; /* Permettre le retour à la ligne sur les petits écrans */
  max-width: 1800px; /* Limiter la largeur totale de la section */
  margin: 0 auto; /* Centrer le conteneur sur la page */
}

.caracteristiques div {
  border: 1px solid #fff; /* Bordure de 3px blanche */
  color: #fff; /* Couleur du texte des cartes */
  border-radius: 5px; /* Coins arrondis pour un effet moderne */
  padding: 15px; /* Espacement intérieur */
  flex: 1; /* Chaque carte occupe une part égale de l'espace disponible */
  max-width: 350px; /* Limiter la largeur maximale des cartes */
  text-align: center;
}

.caracteristiques h3 {
  font-size: 1.3em; /* Taille des titres des cartes */
  margin-bottom: 15px; /* Espacement sous les titres */
}

.caracteristiques p {
  font-size: 1em; /* Taille du texte */
  margin: 0; /* Supprimer les marges par défaut */
}

/* Media Queries pour petits écrans */
/* Section Hero */
@media (max-width: 768px) {
  #hero {
    flex-direction: column; /* Empiler le texte et l'image en colonne */
    align-items: center; /* Centrer les éléments en colonne */
    text-align: center; /* Centrer le texte */
    padding: 20px 10px; /* Ajouter de l'espace autour */
    margin-left: 0; /* Réinitialiser la marge gauche */
  }

  #hero .text-content {
    max-width: 100%; /* Prendre toute la largeur disponible */
    margin-bottom: 20px; /* Ajouter de l'espacement sous le texte */
  }

  #hero h1 {
    font-size: 2em; /* Réduire la taille du titre */
  }

  #hero p {
    font-size: 1.2em; /* Réduire la taille du paragraphe */
  }

  #hero button {
    font-size: 1em; /* Réduire la taille du bouton */
  }

  #hero img {
    max-width: 80%; /* Réduire la largeur maximale de l'image */
    margin: 0 auto; /* Centrer l'image */
  }
}

/* Section Pourquoi-Choisir */
@media (max-width: 768px) {
  #pourquoi-choisir {
    padding: 20px 10px; /* Réduire le padding sur petits écrans */
  }

  .caracteristiques {
    flex-direction: column; /* Empiler les cartes en colonne */
    align-items: center; /* Centrer les cartes */
  }

  .caracteristiques div {
    max-width: 100%; /* Les cartes prennent toute la largeur disponible */
    margin-bottom: 20px; /* Ajouter de l'espace entre les cartes */
  }
}

/* Media Queries pour très petits écrans (moins de 480px) */
@media (max-width: 480px) {
  #hero h1 {
    font-size: 1.8em; /* Réduire encore la taille du titre */
  }

  #hero p {
    font-size: 1em; /* Réduire la taille du paragraphe */
  }

  #hero button {
    font-size: 0.9em; /* Réduire la taille du bouton */
  }

  .caracteristiques div {
    padding: 10px; /* Réduire le padding des cartes */
  }
}


/* Section APROPOS */
#a-propos {
margin-top: 2%;
  background-image: url('/assets/images/aproposNous.png'); 
  background-size: cover; /* Ajustement de l'image */
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 20px; /* Réduction de l'espacement interne */
  position: relative; 
}

/* Titre principal */
h4 {
  font-family: 'Roboto', sans-serif; /* Police pour H1 */
text-align: center;
  color: #000; 
  margin: 0; 


  font-size: 1.6em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Contenu général */
.content {
  display: flex;
  flex-direction: row; /* Assure l'alignement horizontal */
  justify-content: space-between;
  align-items: flex-start; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative; 
  z-index: 2; 
}

/* Section texte à gauche */
.text-gauche {
  width: 60%;
  padding-right: 20px;
}

.text-gauche h3 {
  font-size: 1.8em; 
  color: #3F7E44; 
  margin-bottom: 10px; 
}

.text-gauche p {
  
  margin-bottom: 22px; 
  font-size: 1.5em; 
  line-height: 1.4; 
  color: #333; 
}

/* Section image à droite */
.image-droite {
  left: 11%;
  width: 55%;
  position: relative;
  text-align: center;
}

.image-droite img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px; 
}

.image-droite button {
  color: #fff;


  background-color: #3F7E44; 
  padding: 8px 20px; /* Espacement intérieur du bouton */
  font-size: 1.2em; 
  cursor: pointer; 
  margin-top: 10px; 
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */color: white; 
  border: none; 
  border-radius: 3px; 
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer; 
  
}

.image-droite button:hover {
  background-color: #99B951; 
}

/* Section À PROPOS */
@media (max-width: 1024px) {
  .content {
    flex-direction: column; /* Passe les éléments en colonne */
    align-items: center; /* Centre les éléments dans la colonne */
    text-align: center; /* Centre le texte */
  }

  .text-gauche, .image-droite {
    width: 100%; /* Les sections prennent toute la largeur */
    padding: 0; /* Supprimer le padding */
  }

  .text-gauche {
    margin-bottom: 20px; /* Espacement sous la section texte */
  }
}

@media (max-width: 768px) {
  #a-propos {
    padding: 60px 15px; /* Réduction du padding */
  }

  h4 {
    font-size: 1.4em; /* Taille du titre principale réduite */
  }

  .text-gauche h3 {
    font-size: 1.3em; /* Réduction de la taille du sous-titre */
  }

  .text-gauche p {
    font-size: 1em; /* Réduction de la taille du texte */
  }

  .image-droite {
    margin-top: 20px; /* Ajouter de l'espacement au-dessus de l'image */
  }

  .image-droite button {
    padding: 8px 16px; /* Ajustement du padding du bouton */
    font-size: 1em; /* Taille du texte du bouton */
  }
}

@media (max-width: 480px) {
  #a-propos {
    padding: 40px 10px; /* Réduction supplémentaire du padding */
  }

  .text-gauche h3 {
    font-size: 1.2em; /* Réduction de la taille du sous-titre */
  }

  .text-gauche p {
    font-size: 0.9em; /* Réduction de la taille du texte */
    line-height: 1.3; /* Ajustement du line-height pour la lisibilité */
  }

  .image-droite img {
    width: 80%; /* Réduction de la largeur de l'image pour les petits écrans */
  }

  .image-droite button {
    padding: 6px 12px; /* Réduction du padding du bouton */
    font-size: 0.8em; /* Réduction de la taille du bouton */
  }
}






/* CATEGORIESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
h2{
  text-align: center;
  margin-bottom: 5%;
  text-align: center;
font-family: 'Roboto', sans-serif; /* Police pour H1 */



font-size: 1.6em;
margin-bottom: 20px;
text-transform: uppercase;
}

.voirplus button {
  color: #fff;


  background-color: #3F7E44; 
  padding: 8px 20px; /* Espacement intérieur du bouton */
  font-size: 1.2em; 
  cursor: pointer; 
  margin-top: 10px; 
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */color: white; 
  border: none; 
  border-radius: 3px; 
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer; 
  
}


#categories {
  text-align: center;
  padding: 50px 20px;
}

.grille-categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carte {
  background-color: #f9f9f9; /* Couleur de fond par défaut */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 30px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s; /* Ajout d'une transition pour l'effet de hover */
  cursor: pointer;
  width: 300px; /* Largeur fixe pour les cartes */
}

.carte h3 {
  margin-top: 10px;
  color: #333;
  
}

/* Image circulaire */
.image-circulaire {
  width: 750%; /* Largeur de l'image */
  height: 300px; /* Hauteur de l'image */
  border-radius: 50%; /* Pour rendre l'image circulaire */
  object-fit: cover; /* Pour couvrir l'espace sans déformation */
  margin-left: 25%;
}

/* Effet de survol */
.carte:hover {
  background-color: #3F7E44; /* Couleur verte au survol */
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
  color: white; /* Change la couleur du texte au survol */
}

#categories {
text-align: center;
padding: 30px 10px;
}

.grille-categories {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.carte {
background-color: #f9f9f9; /* Couleur de fond par défaut */
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
margin: 10px;
padding: 50px;
text-align: center;
transition: background-color 0.3s, transform 0.3s; /* Ajout d'une transition pour l'effet de hover */
cursor: pointer;
width: 300px; /* Largeur fixe pour les cartes */
}

.carte h3 {
font-size: 1.5em;

margin-top: 10px;
color: #333;
}

/* Image circulaire */
.image-circulaire {
width: 200px; /* Largeur de l'image */
height: 200px; /* Hauteur de l'image */
border-radius: 50%; /* Pour rendre l'image circulaire */
object-fit: cover; /* Pour couvrir l'espace sans déformation */
margin-left: -2px;
}

/* Effet de survol */
.carte:hover {
background-color: #3F7E44; /* Couleur verte au survol */
transform: scale(1.05); /* Légère augmentation de la taille au survol */
color: white; /* Change la couleur du texte au survol */
}




/* FIN CATEGORIE */



/* Contact Section Styles */
.contact-section {
  opacity: 73%;
  background-color: #f4f4f4; /* Couleur de fond légère en contraste */
  
  /* background-image: url('assets/images/imageba.png');  */
   /* Assurez-vous que le chemin est correct */ 


  background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la section */
  background-position: center; /* Centre l'image dans la section */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  padding: 40px 20px;
  text-align: center;
  color: white; /* Assure que le texte est lisible sur l'image de fond */
}


/* Style des boutons Envoyer et Réinitialiser avec texte blanc */
input[type="submit"],
input[type="reset"] {
  background-color: #D2B48C;
  color: #fff; /* Texte en blanc */
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #343F69;
}



/* Applique l'animation de clignotement à tout le conteneur lors du focus sur le formulaire */
div:focus-within {
  animation: blink 10s ease-in-out; /* Animation qui dure 5 secondes */
  outline: none;
}

/* Définir l'animation de clignotement */
@keyframes blink {
  0%, 100% { 
      transform: scale(1); 
  }
  20%, 40%, 60%, 80% { 
      transform: scale(1.05); 
  }
}

/* ici produits */



#produits h2 {
text-align: center;
font-family: 'Roboto', sans-serif; /* Police pour H1 */



}

#produits {
  margin-bottom: 1%;
  text-align: center;
  padding: 10px 5px;
}

.grille-produits {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne suivante */
  justify-content: center; /* Centre les cartes dans la section */
  gap: 120px; /* Espace entre les cartes */
}

.carte-produit {
  /* background-color: rgba(63, 126, 68, 0.3); Vert transparent */
  border: 2px solid #3F7E44; /* Bordure verte */
  border-radius: 5px; /* Arrondi pour toutes les bordures */
  display: flex; /* Flex pour aligner le contenu */
  justify-content: space-between; /* Espace entre le texte et l'image */
  width: 99%; /* Largeur fixe pour les cartes */
  max-width: 590px; /* Largeur maximale */
  padding: 10px;
  margin-top: 2%;
}

.contenu-produit {
  text-align: left; /* Alignement du texte à gauche */
  flex: 1; /* Permet au contenu de prendre l'espace disponible */
}

.carte-produit h3 {
  color:#000; /* Couleur blanche pour le titre */
  margin-bottom: 10px;
  
  
}

.carte-produit p {
  color: #000; /* Couleur blanche pour le paragraphe */
  margin-bottom: 25px;
}

.carte-produit button {
  background-color: #3F7E44; /* Couleur du bouton */
  color: #fff; /* Couleur blanche pour le texte du bouton */


  padding: 9px 12px; /* Espacement intérieur du bouton */
  font-size: 1.2em; 
  cursor: pointer; 
  margin-top: 10px; 
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */color: white; 
  border: none; 
  border-radius: 3px; 
  font-size: 16px; 
  cursor: pointer; 
  
 
}

.carte-produit button:hover {
  background-color: #99B951; /* Couleur de fond au survol */
}

.image-produit {
  width: 190px; /* Largeur de l'image */
  height: auto; /* Conserve les proportions */
  /* border-radius: 50%; Image en forme de cercle */
  margin-left: 5px; /* Espace entre le texte et l'image */
}

/* Animation pour le titre de la section */
#produits h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  animation: fadeIn 2s ease-in-out; /* Animation d'apparition progressive */

  font-size: 1.6em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Animation pour l'apparition des cartes */
.carte-produit {
  border: 2px solid #3F7E44;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 99%;
  max-width: 590px;
  padding: 10px;
  margin-top: 2%;
  opacity: 0; /* Masqué au départ */
  transform: translateY(50px); /* Position décalée vers le bas */
  animation: slideUp 1s forwards ease-in-out; /* Animation de glissement vers le haut */
  animation-delay: 0.5s; /* Retard pour les premières cartes */
}

/* Animation pour un effet d'apparition échelonné des cartes */
.carte-produit:nth-child(2) {
  animation-delay: 0.7s; /* Retard pour la deuxième carte */
}

.carte-produit:nth-child(3) {
  animation-delay: 0.9s; /* Retard pour la troisième carte */
}

/* Animation sur les images des produits */
.image-produit {
  width: 220px;
  height: auto;
  margin-left: 1px;
  transition: transform 0.5s ease; /* Transition douce pour l'effet de zoom */
}

.image-produit:hover {
  transform: scale(1.1); /* Agrandissement de l'image au survol */
}

/* Keyframes pour l'animation d'apparition */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}




@keyframes clignotement {
  0%, 100% {
      opacity: 1; /* Opacité normale */
  }
  50% {
      opacity: 0.5; /* Opacité réduite pour le clignotement */
  }
}


/* Adaptations pour les différentes tailles d'écran */
@media (max-width: 768px) {
  .carte-produit {
    flex-direction: column; /* Disposer les éléments en colonne sur les écrans plus petits */
    align-items: center; /* Centrer les éléments */
  }

  .carte-produit button {
    align-self: center; /* Centrer le bouton pour les petits écrans */
    margin-top: 15px; /* Ajouter un espacement en haut */
  }
}


/* Adaptations pour les différentes tailles d'écran */
@media (max-width: 768px) {
  .carte-produit {
    flex-direction: column; /* Disposer les éléments en colonne sur les écrans plus petits */
    align-items: center; /* Centrer les éléments */
  }

  .carte-produit button {
    align-self: center; /* Centrer le bouton pour les petits écrans */
    margin-top: 15px; /* Ajouter un espacement en haut */
  }
}



/* ici produits */

.voirplus {
  text-align: center; /* Centrer le bouton */
  margin-top: 20px; /* Ajouter de l'espace au-dessus */
}

.voirplus a {
  display: inline-block; /* Le bouton reste inline mais se comporte comme un block */
  color: white; /* Couleur du texte */
  text-decoration: none; /* Supprimer le soulignement */

background-color: #3F7E44; 
  padding: 8px 20px; /* Espacement intérieur du bouton */
  font-size: 1.2em; 
  cursor: pointer; 
  margin-top: 10px; 
  transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */color: white; 
  border: none; 
  border-radius: 3px; 
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer; 
  
}

.voirplus a:hover {
  background-color: #99B951; /* Couleur légèrement plus foncée au survol */
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.voirplus a:active {
  background-color: #388e3c; /* Couleur encore plus foncée lorsque le bouton est cliqué */
}






.temoignages-section {
  /* background: linear-gradient(135deg, #B7D7B3, #343F69); */
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  overflow: hidden; /* Pour que les flèches ne débordent pas */
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: rgb(15, 1, 1); /* Meilleur contraste */
  text-transform: uppercase;
}

.temoignages-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.temoignages-container div {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.8s ease-in-out;
}

.temoignages-container div.active {
  opacity: 1;
  position: relative;
}

blockquote {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 80px;
  border-radius: 15px; /* Coins plus arrondis pour plus de style */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-style: italic;
  color: #555;
  transition: transform 0.5s ease;
  max-width: 900px;
  margin: 20px auto;
}

blockquote:hover {
  transform: scale(1.05);
}

.author {
  margin-top: 10px;
  font-weight: bold;
  color: #343F69; /* Navy blue */
}

.pages {
  margin-top: 30px;
}

.pages span {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  transition: color 0.3s ease;
}

.pages span.active {
  color: #ffffff;
}

.pages span:hover {
  color: #B7D7B3; /* Greenish color */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  padding: 10px;
  transition: color 0.3s ease;
  z-index: 1; /* Place les flèches derrière le contenu */
}

.prev {
  left: -500px; /* Flèche gauche déplacée en dehors du conteneur */
  color: #000;
}

.next {
  right: -500px; /* Flèche droite déplacée en dehors du conteneur */
  color: #000;
}

.prev:hover, .next:hover {
  color: #B7D7B3; /* Couleur au survol */
}

.temoignages-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: visible; /* Permet aux flèches de sortir du conteneur */
}

.temoignages-section {
  /* background: linear-gradient(135deg, #B7D7B3, #343F69); */
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  position: relative;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */
  overflow: visible; /* Assure que les flèches peuvent s'afficher au-delà des limites de la section */
}


.temoignages-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/png.png');
  background-size: cover;
  opacity: 300.2;
  z-index: -1;
}

/* Animation pour le changement automatique chaque 4 secondes */
@keyframes slide {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

/* Appliquer l'animation */
.temoignages-container div {
  animation: slide 4s infinite;
}


/* Section "Comment ça marche ?" */

.how-it-works-section {
  background-color: #c5dcbf;
  ;

  border-radius: 10000000000% 0 80% 90; /* Bordure arrondie */

  background-size: cover;
  padding: 60px 20px;
  text-align: center;
  border-radius: 15px;
}

.section-title {
  font-size: 1.6em;
  margin-bottom: 40px;
  color: #000; /* Navy blue */
  text-transform: uppercase;
}

.steps-container {
  display: flex;
  justify-content: center; /* Centrer les éléments */
  flex-wrap: wrap;
}

.step {
  background-color: #3F7E44;
  border-radius: 100% 0 0% 0; /* Bordure arrondie */
  width: 30%;
  padding: 16px;
  margin-bottom: 40px;
  text-align: center; /* Centrer les titres et images */

}

.step-title {
  font-size: 1.6em;
  color: #fff; 
  margin-left: -30%;/* Greenish color */
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-image {
  width: 100%;
  max-width: 450px; /* Assure une taille égale pour toutes les images */
  height: 380px; /* Fixer une hauteur égale pour uniformiser les images */
  object-fit: cover; /* Garde le ratio et remplit l'espace */
  margin-bottom: -80px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Effet de survol */
.step-image:hover {
  background-color: #3F7E44; /* Couleur verte au survol */
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
  color: white; /* Change la couleur du texte au survol */
}

/* Styles pour la version mobile */
@media (max-width: 768px) {
  .steps-container {
    flex-direction: column;
  }

  .step {
    width: 100%;
  }
}







/* Témoignage - Media Queries pour les écrans moyens (tablettes) */
@media (max-width: 1024px) {
  .temoignages-section {
    padding: 20px;
  }

  .section-title {
    font-size: 1.8em; /* Réduire la taille du titre */
    margin-bottom: 15px; /* Ajuster l'espacement inférieur */
  }

  blockquote {
    padding: 30px; /* Réduire le padding du bloc citation */
    font-size: 0.95em; /* Ajuster la taille du texte */
    margin: 15px auto; /* Ajuster les marges */
  }

  .prev, .next {
    font-size: 25px; /* Réduire la taille des flèches */
    top: 60%; /* Ajuster la position des flèches */
  }

  .pages {
    margin-top: 20px;
  }

  .pages span {
    font-size: 18px;
  }
}

/* Témoignage - Media Queries pour les petits écrans (mobiles) */
@media (max-width: 768px) {
  .temoignages-section {
    padding: 15px;
  }

  
  .section-title {
    font-size: 1.6em; /* Réduire la taille du titre */
    margin-bottom: 10px;
  }

  blockquote {
    padding: 20px;
    font-size: 0.85em;
    margin: 10px auto;
  }

  .temoignages-container {
    max-width: 80%;
    position: relative;
    overflow: hidden;
  }

  .prev, .next {
    color: #fff;
    font-size: 20px;
    left: 5px; /* Positionner les flèches plus près du contenu */
    right: 5px;
    top: 55%; /* Ajuster la position verticale */
  }

  .pages {
    margin-top: 15px;
  }

  .pages span {
    font-size: 16px;
  }
}

/* Témoignage - Media Queries pour les très petits écrans */
@media (max-width: 480px) {
  .temoignages-section {
    padding: 10px;
  }

  .section-title {
    font-size: 1.4em; /* Réduire davantage la taille du titre */
  }

  blockquote {
    padding: 15px;
    font-size: 0.8em;
    margin: 5px auto;
  }

  .prev, .next {
    font-size: 18px;
    top: 50%; /* Centrer verticalement */
  }

  .pages span {
    font-size: 14px;
  }
}


/* Adaptation aux tailles d'écran */
@media (max-width: 1024px) {
  .sm\:max-w-xl {
    max-width: 90%;
  }
  .sm\:mx-auto {
    margin: 0 auto;
  }
  .sm\:rounded-3xl {
    border-radius: 20px;
  }
  .sm\:p-20 {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .relative {
    padding: 15px;
  }
  .text-5xl {
    font-size: 2.5em;
  }
  .text-lg {
    font-size: 1.1em;
  }
  
}

@media (max-width: 480px) {
  .text-5xl {
    font-size: 2em;
  }
  .text-lg {
    font-size: 1em;
  }
  .flex {
    flex-direction: column;
    gap: 10px;
  }
  .flex input {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Pour les écrans plus petits, garder l'espace */
@media (max-width: 480px) {
  .flex {
    flex-direction: column;
    gap: 10px; /* Réduit l'espace entre les boutons sur les écrans plus petits */
  }
  
}

/* pppppppppppppppppppppppppppppppppppppppppppppppp */



/* Contact Section Styles */
.contact-section {
  opacity: 73%;
  background-color: #f4f4f4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

/* Style des boutons Envoyer et Réinitialiser avec texte blanc */
input[type="submit"],
input[type="reset"] {
  background-color: #3F7E44;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.1s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #3F7E44;
}

/* Container principal */
.min-h-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.relative {
  position: relative;
  width: 100%;
}
/* Style des formulaires */
form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Espace entre les boutons Envoyer et Réinitialiser */
.flex {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Ajoute un espace de 20px entre les boutons */
}
