<header>
    <nav>
      <img src="../assets/images/logoferlokosamnay.png" alt="Logo Ferlo Kosamnay" class="logo">
      <ul class="menu-centre">
        <li><a href="/">Accueil</a></li>
        <li><a href="/produit">Produits</a></li>
        <li><a href="categorie">Catégories</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="#" class="icone-panier"><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
      <a href="/login" class="bouton-connexion">Connexion</a>
    </nav>
  </header>
 




<!-- <header>
  <nav>
    <img src="assets/images/logoferlokosamnay.png" alt="Logo Ferlo Kosamnay" class="logo">
    <ul class="menu-centre">
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/produit">Produits</a></li>
      <li><a routerLink="/categorie">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a href="#" class="icone-panier"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
    <a routerLink="/login" class="bouton-connexion">Connexion</a>
  </nav>
</header> -->
