<!-- src/app/components/header/header.component.html -->
<header>
  <nav>
    <!-- Section Gauche : Logo -->
    <div class="logo-container">
      <img src="assets/images/logoferlokosamnay.png" alt="Logo Ferlo Kosamnay" class="logo">
    </div>

    <!-- Bouton hamburger visible uniquement sur petits écrans -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Section Centre : Menu de Navigation -->
    <ul class="menu-centre" [ngClass]="{'active': isMenuOpen}">
      <li><a routerLink="/">Accueil</a></li>
      <li><a routerLink="/produit">Produits</a></li>
      <li><a routerLink="/categorie">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <!-- Section Droite : Panier et Connexion/Déconnexion -->
    <div class="actions-droite">
      <a routerLink="/panier" class="icone-panier">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Bouton Connexion/Déconnexion -->
      <a *ngIf="!isLoggedIn" routerLink="/login" class="bouton-connexion">Connexion</a>
      <a *ngIf="isLoggedIn" (click)="logout()" class="bouton-deconnexion">Déconnexion</a>
    </div>
  </nav>
</header>
