/* src/app/components/header/header.component.css */

/* Styles globaux */
body {
  font-family: 'Roboto', sans-serif;
}

/* En-tête */
header {
  background-color: #fff;
  padding: 10px 20px;
}

/* Barre de navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
}

/* Section Gauche : Logo */
nav .logo-container {
  flex: 1;
}

nav .logo {

  height: 170px; /* Ajustement de la hauteur du logo pour les petits écrans */
  margin-left: 2%
}

/* Section Centre : Menu de Navigation */
nav .menu-centre {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex: 2;
  justify-content: center;
  transition: max-height 0.3s ease-out;
}

nav .menu-centre.active {
  display: flex; /* Afficher le menu lorsqu'il est actif */
}

nav .menu-centre li {
  margin: 0 15px;
}

nav .menu-centre li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s, text-decoration 0.3s;
}

nav .menu-centre li a:hover {
  text-decoration: underline;
  color: #99B951;
}

/* Section Droite : Panier et Connexion/Déconnexion */
nav .actions-droite {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

nav .actions-droite .icone-panier {
  font-size: 24px;
  margin-right: 20px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s;
}

nav .actions-droite .icone-panier:hover {
  color: #99B951;
}

nav .actions-droite .bouton-connexion,
nav .actions-droite .bouton-deconnexion {
  background-color: #3F7E44;
  padding: 8px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  transition: background-color 0.3s;
  cursor: pointer;
}

nav .actions-droite .bouton-connexion:hover,
nav .actions-droite .bouton-deconnexion:hover {
  background-color: #99B951;
}

/* Bouton hamburger */
nav .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

nav .hamburger span {
  height: 4px;
  width: 25px;
  background-color: #000;
  margin: 3px 0;
}

/* Media Queries pour petits écrans */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Cacher le menu par défaut sur mobile */
  nav .menu-centre {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav .menu-centre.active {
    display: flex;
  }

  nav .menu-centre li {
    margin: 10px 0;
    width: 100%;
  }

  /* Afficher le bouton hamburger */
  nav .hamburger {
    display: flex;
    margin-left: 90%;
    bottom: 19%;
  }

  /* Section Droite : Panier et Connexion/Déconnexion */
  nav .actions-droite {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  nav .actions-droite .icone-panier,
  nav .actions-droite .bouton-connexion,
  nav .actions-droite .bouton-deconnexion {
    margin: 5px 10px 0 10px;
  }
}
