<app-header></app-header>

<div class="bacgraimage">
    <img src="../assets/images/imagecategorie1.jpg" alt="Bassine" class="header-image"></div>
    
    
    
    
    
     <div class="commandes">
<strong><h1>La liste de mes commandes</h1></strong>     
        <div *ngIf="commandes.length === 0" class="no-commande">
            <p>Aucune commande pour ce client.</p>
        </div>

        
    
        <!-- <div *ngFor="let commande of commandes" class="commande-card">
            <div class="commande-header">
                <img [src]="'http://localhost:8000/storage/' + commande.produit_boutique.produit.image" 
                     alt="{{ commande.produit_boutique.produit.nom }}" class="card-image">
                <div class="commande-details">
                    <p><strong>Numero de la commande</strong> {{ commande.ligne_commande.id }}</p>
                    <p><strong>Produit:</strong> {{ commande.produit_boutique.produit.nom }}</p>
                </div>
            </div>
    
            <div class="commande-actions">
                <button class="btn btn-detail" (click)="voirDetail(commande.ligne_commande.id)">
                    <i class="fas fa-eye"></i> 
                </button>
                <button class="btn btn-delete" (click)="supprimerCommande(commande.ligne_commande.id)">
                    <i class="fas fa-trash-alt"></i> 
                </button>
            </div>
        </div>
    </div> 
     -->
    <div class="tout">
        <!-- <h1>La liste de toutes les commandes</h1> -->
        
        <div class="card-container">
          <div 
            class="commande-card" 
            *ngFor="let commande of commandes" 
            (click)="onCardClick(commande)"
          >
            <h3>Numero de la commande: {{ commande.id }}</h3>
            <img *ngIf="commande?.produit_boutique?.produit?.image" [src]="'http://localhost:8000/storage/' + commande.produit_boutique.produit.image" alt="Image du Produit" width="100">
            <p><strong>Produit:</strong> {{ commande.produit_boutique.produit.nom }}</p>
            <!-- <p><strong>Produit:</strong> {{ commande.produit_boutique.id }}</p> -->
            <!-- <p><strong>Ligne de Commande:</strong> {{ commande.ligne_commande.id }}</p> -->
            <p><strong>Quantité:</strong> {{ commande.quantite }}</p>
            <p><strong>Montant:</strong> {{ commande.montant | number:'' }} CFA</p>
        
            <!-- <p><strong>Statut de la Commande:</strong> {{ commande.ligne_commande.statut }}</p>  -->
        
            <div class="button-container">
              <button class="detail-btn" (click)="voirDetail(commande)">
                <i class="fas fa-eye"></i> 
              </button>
            
              <button class="delete-btn" (click)="supprimerCommande(commande.ligne_commande.id)">
                <i class="fas fa-trash"></i> 
              </button>
            </div>

            <!-- <div class="commande-actions">
                <button class="btn btn-detail" (click)="voirDetail(commande.ligne_commande.id)">
                    <i class="fas fa-eye"></i> 
                </button>
                <button class="btn btn-delete" (click)="supprimerCommande(commande.ligne_commande.id)">
                    <i class="fas fa-trash-alt"></i> 
                </button>
            </div> -->
            
        </div>
          </div>
        </div>
    

<app-footer></app-footer>
