<!-- <div class="signup-container">
    <div class="signup-form">
      <h2>Inscription</h2>
      <div class="form-group">
        <input type="text" placeholder="Bassine Niang" required [(ngModel)]="userObject.nom_complet" name="nom_complet">
      </div>
      
      <div class="form-group">
        
        <input 
          type="text" 
          placeholder="Téléphone" 
          required 
          [(ngModel)]="userObject.telephone" 
          name="telephone">
      </div>
      
      <div class="form-group">

        <input 
          type="email" 
          placeholder="Email" 
          required 
          [(ngModel)]="userObject.email" 
          name="email">
      </div>
      
      <div class="form-group">
        <input type="text" id="adresse" placeholder="Adresse" required [(ngModel)]="userObject.adresse" name="adresse">
    

      <div class="form-group">
        
        <input 
          type="password" 
          placeholder="Mot de passe" 
          required 
          [(ngModel)]="userObject.password" 
          name="password">
      </div>
      
      <div class="form-group">
       
        <input 
          type="password" 
          placeholder="Confirmer votre Mot de passe" 
          required 
          [(ngModel)]="userObject.password_confirmation" 
          name="password_confirmation">
      </div>
      <button (click)="register()">S'inscrire</button>
      
      <p>Déjà inscrit ? <a href="login">Se connecter</a></p>
    </div>
    
    <div class="signup-image">
      
      <img src="../assets/images/frommage.jpeg" alt="Image d'inscription">
    </div>
    
  </div> 
 -->


 


  <body>
    <div class="signup-container">
        <div class="signup-form">
            <h2>Inscription</h2>
            <form (ngSubmit)="register()" #signupForm="ngForm">
                <div class="form-group">
                    <label for="nom_complet">Prénom :</label>
                    <input type="text" id="nom_complet" placeholder="Prénom" required [(ngModel)]="userObject.nom_complet" name="nom_complet">
                
                  </div>

                <div class="form-group">
                    <label for="telephone">Téléphone :</label>
                    <input type="text" id="telephone" placeholder="77 1065156" required [(ngModel)]="userObject.telephone" name="telephone">
                </div>

                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" placeholder="Email" required [(ngModel)]="userObject.email" name="email">
                </div>

                <div class="form-group">
                    <label for="adresse">Adresse :</label>
                    <input type="text" id="adresse" placeholder="Adresse" required [(ngModel)]="userObject.adresse" name="adresse">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" placeholder="Mot de passe" required [(ngModel)]="userObject.password" name="password">
                </div>

                <div class="form-group">
                    <label for="password_confirmation">Confirmer votre Mot de passe :</label>
                    <input type="password" id="password_confirmation" placeholder="Confirmer votre Mot de passe" required [(ngModel)]="userObject.password_confirmation" name="password_confirmation">
                </div>
                
                <button type="submit">S'inscrire</button>
                <p>Déjà inscrit ? <a href="login">Se connecter</a></p>
            </form>
        </div>
        <div class="signup-image">
            <img src="../assets/images/frommage.jpeg" alt="Image d'inscription">
        </div>
    </div>
</body>
