<app-navbar-admin></app-navbar-admin>

<div class="container">
    <h2>Ajouter une Nouvelle Boutique</h2>
  
    <form (ngSubmit)="onSubmit()" #boutiqueForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" [(ngModel)]="nouvelleBoutique.nom" name="nom" required>
      </div>
  
      <div class="form-group">
        <label for="adresse">adresse</label>
        <input type="text" id="adresse" class="form-control" [(ngModel)]="nouvelleBoutique.adresse" name="adresse" required>
      </div>
  
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" id="telephone" class="form-control" [(ngModel)]="nouvelleBoutique.telephone" name="telephone" required>
      </div>
 <div class="form-group">
    <label for="user_id">Representant</label>
    <select id="user_id" name="user_id" class="form-control" [(ngModel)]="nouvelleBoutique.user_id" required
            [ngClass]="{'is-invalid': boutiqueForm.submitted && boutiqueForm.controls['user_id'].invalid}">
        <option value="" disabled>-- Sélectionnez un representant --</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.nom_complet }}</option>
    </select>
  </div>

<div class="form-group">
    <label for="region_id">region</label>
    <select id="region_id" name="region_id" class="form-control" [(ngModel)]="nouvelleBoutique.region_id" required
            [ngClass]="{'is-invalid': boutiqueForm.submitted && boutiqueForm.controls['region_id'].invalid}">
        <option value="" disabled>-- Sélectionnez une region --</option>
        <option *ngFor="let region of region" [value]="region.id">{{ region.nom }}</option>
    </select>
  </div>

<button type="submit" class="btn btn-primary">Ajouter Boutique</button>
      
      <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="alert alert-success mt-2">{{ successMessage }}</div>
    </form>
  </div>
  