<app-navbar-admin></app-navbar-admin>

<div>
  <h2>Liste des Boutiques</h2>
  <a [routerLink]="['/boutique/ajouter']" class="btn-ajouter">Ajouter une boutique</a>  

  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>adresse</th>
        <th>Téléphone</th>
        <th>Région</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boutique of boutiques">
        <td>{{ boutique.id }}</td>
        <td>{{ boutique.nom }}</td>
        <td>{{ boutique.adresse }}</td>
        <td>{{ boutique.telephone }}</td>
        <td>{{ boutique.region?.nom }}</td>
        <td>{{ boutique.user?.nom_complet }}</td>
        <td>
          <a [routerLink]="['/boutique/detail', boutique.id]" class="btn-details">Détails</a>

          <a [routerLink]="['/boutique/modifier', boutique.id]" class="btn-modifier">Modifier</a>
          
          <button (click)="deleteBoutique(boutique.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>