

/* Style de la sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #3F7E44;
    color: #ecf0f1;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 35px;  /* Descendre un peu */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.deconnexion {
    width: 80%;
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    color: #ecf0f1;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Style du dashboard principal */
.dashboard {
    margin-left: 250px; /* Espace pour la sidebar */
    padding: 20px;
    box-sizing: border-box;
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    height: 80px; /* Assurez-vous que le logo est visible */
    object-fit: contain;
}

.header-icons {
    margin-right: 10px; /* Ajoute cet attribut pour pousser les icônes à droite */
}

.header-icons i {
    font-size: 4px;
    margin-left: 110%; /* Ajustez l'espace entre les icônes si nécessaire */
    cursor: pointer;
    color: #2c3e50;
}

/* Style des cartes */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les cartes horizontalement */
    gap: 20px; /* Espace entre les cartes */
}

.card {
    background-color: #99B951;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 250px;
    padding: 40px;
    text-align: center;
    transition: transform 0.2s, background-color 0.3s;
    position: relative;
    animation: float 3s ease-in-out infinite;
}

.card-up {
    margin-top: -20px;
}

.card-down {
    margin-bottom: -20px;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #88a030;
}

.card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.card p {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

/* Animation pour les cartes */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Media Queries pour Responsivité */

@media (max-width: 1024px) {
    .dashboard {
        margin-left: 200px;
    }

    .sidebar {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .dashboard {
        margin-left: 0;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
