
<app-navbar-admin></app-navbar-admin>
    
<section class="cards">
  <div class="card-container">
    <div *ngFor="let card of cards" 
         [ngStyle]="{'background-color': card.color}" 
         class="card" 
         [ngClass]="card.position">
      <h2>{{ card.title }} : {{ card.value }}</h2>
    </div>
  </div>
</section>


<div class="tout">
      <h1>La liste de toutes les commandes</h1>
      
      <div class="card-container">
        <div 
          class="commande-card" 
          *ngFor="let commande of commandes" 
          (click)="onCardClick(commande)">
          <h3>Commande: {{ commande.id }}</h3>
          <p><strong>Produit:</strong> {{ commande.produit_boutique.id }}</p>
          <p><strong>Ligne de Commande:</strong> {{ commande.ligne_commande.id }}</p>
          <p><strong>Quantité:</strong> {{ commande.quantite }}</p>
          <p><strong>Montant:</strong> {{ commande.montant | number:'' }} CFA</p>
      
             <button class="delete-btn" (click)="onDelete(commande.id)">
              <i class="fas fa-trash"></i> 
            </button>
       </div>
      </div>
    </div>
      