
<app-navbar-admin></app-navbar-admin>

  <div class="toutCarte"> 
<section class="cards">
  <div class="card-container">
    <div *ngFor="let card of cards" [ngStyle]="{'background-color': card.color}" class="card" [ngClass]="card.position">
      <i [ngClass]="card.iconClass"></i> 
      <h2>{{ card.title }} : <br>{{ card.value }}</h2>
    </div>
  </div>
</section>
</div> 

<!-- Section pour le graphique -->
<div class="chart-container">
  <h2 class="chart-title">Statistiques de nos produits</h2>
  <canvas id="myChart" class="blinking"></canvas>
</div>




