
<app-header></app-header>

<div class="overlay">
  <h1>Contactez-nous!</h1>
</div>
      <div class="bacgraimage">

        <img src="../assets/images/imagecategorie.jpg" alt="Bassine" class="header-image">

        <!-- <img src="../assets/images/formulaire.jpeg" alt="Bassine" class="header-image"> -->
    </div>

      <div class="contact-section">

        <div class="left-column">
            <strong><h3>contactez-nous!</h3></strong>

            <p>Contactez-nous pour tout ce qui concerne notre entreprise ou nos services. Nous ferons de notre mieux pour vous répondre dans les plus brefs délais.</p>
    
            <div class="bottom-image">
                <img src="../assets/images/contact.png" alt="Bassine" class="contact-img">
            </div>
    
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    
        <div class="right-column">
            <form>
                <div class="form-group">
                    <label for="fullName">Nom complet</label>
                    <input type="text" id="fullName" name="fullName" placeholder="Entrez votre nom complet">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Entrez votre email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" placeholder="Votre message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Envoyer</button>
                </div>
            </form>
           <div class="info-section">

                <h2>Infos:</h2>

                <div class="info-item">
                    <i class="fas fa-phone-alt"></i> <span>+221 77 106 5156</span>
                </div>
                <div class="info-item">
                    <i class="fas fa-envelope"></i> <span>bassinen13&#64;gmail.com</span>
                </div>
                <div class="info-item">
                    <i class="fas fa-map-marker-alt"></i> <span>Lougre Thioly</span>
                </div>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>







      
      
      