


 <app-header></app-header>
<div class="bacgr">
  <h1>Tous les Produits</h1>

<div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un produit..." />
    <button (click)="rechercher()">Rechercher</button>
  </div>

  <!-- <section class="product-grid" id="productGrid">

    <div class="product" *ngFor="let produit of produitsFiltres">
      <img *ngIf="produit.image" [src]="'http://localhost:8000/storage/' + produit.image" alt="{{ produit.nom }}" />
<h3>{{ produit.nom }}</h3>
          <p>Prix: {{ produit.prix | number:'1.0-2' }} CFA</p>
          <p>Quantité : {{ produit.quantite }} litre(s)</p>

          <div class="buttons">
          <button class="view-more" (click)="voirDetail(produit.id!)">Voir détail</button>
          <button (click)="ajouterAuPanier(produit)">Ajouter au panier</button>    
        </div>
      </div>
</section>



<div class="pagination">
  <button (click)="changerPage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{ currentPage }} sur {{ totalPages }}</span>
  <button (click)="changerPage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
</div>
</div> -->


<section class="product-grid" id="productGrid">

  
  <div class="product" *ngFor="let produit of produitsAffichesPagination">
    <img *ngIf="produit.image" [src]="'http://localhost:8000/storage/' + produit.image" alt="{{ produit.nom }}" />
    <h3>{{ produit.nom }}</h3>
    <p>Prix: {{ produit.prix | number:'1.0-2' }} CFA</p>
    <p>Quantité : {{ produit.quantite }} litre(s)</p>
    <div class="buttons">
      <button class="view-more" (click)="voirDetail(produit.id!)">Voir détail</button>
      <button (click)="ajouterAuPanier(produit)">Ajouter au panier</button>    
    </div>
  </div>
  
</section>

<div class="pagination">
  <button (click)="changerPage(currentPage - 1)" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{ currentPage }} sur {{ totalPages }}</span>
  <button (click)="changerPage(currentPage + 1)" [disabled]="currentPage === totalPages">Suivant</button>
</div>

</div>



<app-footer></app-footer>


     
