* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bacgr {
    background-color: #000;
    font-family: Arial, sans-serif;
    background-image: url('/assets/images/bacgrproduit.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000;
    padding: 100px;
    opacity: 100%;
    
}

h1 {
    
    text-align: center;
    color: #000;
    font-size: 2em;
    /* margin-bottom: 40px; */

    margin: 40px 0 20px; /* Ajoute un espace au-dessus et en dessous */

}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border: 2px solid #343F69;
    border-radius: 3px;
    margin-right: 10px;
}

.search-container button {
    padding: 9px 9px;
    background-color: #3F7E44;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #99B951;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Limiter à 4 produits par ligne */
    gap: 40px; /* Espace entre les cartes */
}

.product {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product img {
    display: block; /* Pour que l'image se comporte comme un bloc */
    width: 100%; /* Largeur fixe */
    height: 65%; /* Hauteur fixe pour uniformiser toutes les images */
    object-fit: cover; /* S'assure que l'image couvre complètement l'élément */
    border-radius: 4px;
    margin: 0 auto 15px auto; /* Centre l'image horizontalement avec des marges automatiques */
}
h3 {
    margin-bottom: 10px;
    color: #343F69;
    text-align: left;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

/* ici */
.buttons button {  
    padding: 2px 16px;
    width: 100%; /* Assurez que tous les boutons occupent la même largeur */
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em; /* Uniformiser la taille du texte */
    box-sizing: border-box; /* Pour inclure les bordures dans la largeur totale */
}

.buttons .view-more {
    background-color: #3F7E44;
    color: white;
    border: none;
}

.buttons .view-more:hover {
    background-color: #99B951;
}

.buttons .disponible {
    background-color: transparent;
    color: black;
    border: 2px solid black;
}

.buttons .disponible:hover {
    background-color: #f1f1f1;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center; /* Aligner verticalement les éléments */
    margin-top: 20px;
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px; /* Ajustement des valeurs de padding */
    border: none;
    background-color: #3F7E44;
    color: white;
    cursor: pointer;
    border-radius: 3px; /* Arrondi des coins des boutons */
    transition: background-color 0.3s; /* Transition pour un effet de survol */
  }
  
  /* Changer la couleur du bouton au survol */
  .pagination button:hover {
    background-color: #99B951; /* Couleur plus foncée au survol */
  }
  
  .pagination button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
/* Styles pour les écrans de petite taille */
  @media (max-width: 600px) {
    .pagination {
      flex-direction: column; /* Aligne les éléments en colonne sur mobile */
      align-items: center; /* Centre les éléments horizontalement */
    }
  
    .pagination button {
      width: 100%; /* Les boutons prennent toute la largeur */
      margin-bottom: 10px; /* Espace entre les boutons */
    }
  }
  @media (max-width: 480px) {
    .product img {
        width: 80%; /* Diminue la largeur de l'image */
        height: auto; /* Conserve le ratio d'aspect de l'image */
        margin: 0 auto 10px auto; /* Centre l'image et réduit l'espace en bas */
    }


    .bacgr {
        padding: 20px;
        opacity: 1; /* Assure une opacité complète pour éviter les effets de transparence */
    }

    h1 {

        font-size: 1.5em; /* Taille du texte légèrement réduite pour mobile */
        color: #000; /* Change la couleur en blanc pour un meilleur contraste */
        text-align: center;
        margin-top: 30%; /* Ajoute un espace supplémentaire au-dessus pour descendre le titre */
        margin-bottom: 29px; 

    }

    .search-container {
        flex-direction: column; /* Empile l'input et le bouton verticalement */
        align-items: center; /* Centre les éléments horizontalement */
    }

    .search-container input {
        width: 100%; /* Prend toute la largeur de l'écran */
        margin-bottom: 10px; /* Ajoute de l'espace en bas pour séparer de l'input */
    }

    .product-grid {
        grid-template-columns: 1fr; /* Affiche un seul produit par ligne */
        gap: 20px; /* Espace entre les cartes produits */
    }

    .product {
        padding: 15px; /* Réduit le padding pour mieux s'adapter aux petits écrans */
        margin: 20px; /* Réduit l'espace autour des cartes sur les petits écrans */

    }

    .buttons {
        flex-direction: column; /* Empile les boutons verticalement */
        gap: 10px; /* Ajoute un espace entre les boutons pour une meilleure lisibilité */
    }

    .buttons button {
        padding: 4px; /* Réduit le padding pour les petits écrans */
        font-size: 0.9em; /* Ajuste la taille de la police pour garder les boutons lisibles */
    }
}