<!-- <h2>Modifier la Ligne de Commande</h2>

<div *ngIf="messageErreur" class="alert alert-danger">
  {{ messageErreur }}
</div>

<form (ngSubmit)="modifierLigneCommande()">
  <div>
    <label for="produit_boutique_id">ProduitBoutique:</label>
    <input type="number" [(ngModel)]="ligneCommande.produit_boutique_id" name="produit_boutique_id" required>
  </div>

  <div>
    <label for="user_id">User:</label>
    <input type="number" [(ngModel)]="ligneCommande.user_id" name="user_id" required>
  </div>

  <div>
    <label for="date">Date:</label>
    <input type="date" [(ngModel)]="ligneCommande.date" name="date" required>
  </div>

  <div>
    <label for="statut">Statut:</label>
    <input type="text" [(ngModel)]="ligneCommande.statut" name="statut" required>
  </div>

  <div>
    <label for="quantite_totale">Quantité:</label>
    <input type="number" [(ngModel)]="ligneCommande.quantite_totale" name="quantite_totale" required>
  </div>

  <div>
    <label for="prix_totale">Prix Total (CFA):</label>
    <input type="number" [(ngModel)]="ligneCommande.prix_totale" name="prix_totale" required>
  </div>

  <button type="submit">Modifier</button>
</form> -->
