<!-- <div class="dashboard-container">
    <div class="cards-container">
      <div *ngFor="let card of cards" class="card">
        <div class="card-icon">
          <mat-icon>{{ card.icon }}</mat-icon>
        </div>
        <div class="card-content">
          <h3>{{ card.title }}</h3>
          <p>{{ card.value }}</p>
        </div>
      </div>
    </div>
  
    <div class="table-container">
      <h2>Emails reçus pour les commandes</h2>
      <table>
        <thead>
          <tr>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of receivedEmails">
            <td>{{ email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   -->