
<div class="container">
  <h2>Liste des Produits</h2>
  <div class="mt-3">
    <button class="btn btn-primary" (click)="ajouterProduit()">Ajouter Nouveau Produit</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Catégorie</th>
        <th>Description</th>
        <th>Catégorie ID</th> 
        <th>Image</th> 
        <th>Référence</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits">
        <td>{{ produit.id }}</td>
        <td>
          <img [src]="produit.image" alt="{{ produit.nom }}" style="width: 100px; height: auto;" /> 
     </td>
        <td>{{ produit.nom }}</td>
        <td>{{ getNomCategorie(produit.categorie_id) }}</td>
        <td>{{ produit.categorie_id }}</td> 
        <td>{{ produit.description }}</td> 
        <td>{{ produit.reference }}</td>

        <td>{{ produit.prix | number:'1.0-2' }} CFA</td>
        <td>{{ produit.quantite }}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="supprimer(produit.id!)">Supprimer</button>
          <button class="btn btn-sm btn-warning" (click)="modifier(produit.id!)">Modifier</button>
          <!-- <button class="btn btn-sm btn-warning" (click)="voirDetail(produit.id!)">VoirDetail</button> -->

       </td>
      </tr>
    </tbody>
  </table>
</div>
