<app-navbar-admin></app-navbar-admin>


<div class="container">
    <h2>Liste des Régions</h2>
  
    <a class="btn btn-primary mb-3" (click)="createNewregion()">Ajouter Nouvelle Région</a>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let region of regions">
          <td>{{ region.nom }}</td>
          <!-- <td>
            <button class="btn btn-secondary btn-sm me-2" (click)="navigateToEdit(categorie.id)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deleteCategorie(categorie.id)"><i class="fas fa-trash-alt"></i></button>
           </td> -->

          <td>
            <button class="btn btn-warning btn-sm mr-2" (click)="editregion(region.id)"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deleteregion(region.id)"><i class="fas fa-trash-alt"></i></button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  