/* Style pour le conteneur principal */
div {
    max-width: 600px; /* Largeur maximale du conteneur */
    margin: 60px auto; /* Centre le conteneur avec un espace en haut */
    padding: 20px; /* Espacement interne */
    background-color: #f9f9f9; /* Fond léger pour le contraste */
    border-radius: 3px; /* Coins arrondis */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); Ombre subtile */
}

/* Style pour le titre */
h2 {
    text-align: center; /* Centre le titre */
    color: #4F772D; /* Couleur du texte */
    margin-bottom: 20px; /* Espacement en bas du titre */
}

/* Style pour les groupes de formulaire */
form > div {
    margin-bottom: 15px; /* Espacement entre les champs du formulaire */
}

/* Style pour les labels */
label {
    font-weight: bold; /* Rendre les labels en gras */
    display: block; /* Chaque label occupe une nouvelle ligne */
    margin-bottom: 5px; /* Espacement en bas du label */
}

/* Style pour les champs de texte et les sélecteurs */
input[type="text"],
input[type="tel"],
select {
    width: 100%; /* Largeur complète pour input et select */
    padding: 10px; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure pour input et select */
    border-radius: 5px; /* Coins arrondis pour input et select */
    font-size: 14px; /* Taille de police */
}

/* Style pour les boutons */
button {
    font-size: 14px; /* Taille de police pour les boutons */
    padding: 10px 20px; /* Espacement interne pour les boutons */
    border-radius: 5px; /* Coins arrondis pour les boutons */
    background-color: #4F772D; /* Couleur du bouton principal */
    color: #fff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Changer le curseur au survol */
    margin-right: 10px; /* Espacement entre les boutons */
}

/* Style au survol des boutons */
button:hover {
    background-color: #3b5e24; /* Couleur plus foncée au survol */
}

/* Style pour le bouton d'annulation */
button[type="button"] {
    background-color: #f44336; /* Couleur rouge pour le bouton d'annulation */
}

/* Style au survol du bouton d'annulation */
button[type="button"]:hover {
    background-color: #d32f2f; /* Couleur plus foncée au survol */
}
