

.VOIRDETAIL{
    margin-left: 40%;
    margin-top: 13%;
}
h2 {
    color: #000;
    font-size: 2rem;
  }
  
  .alert {
    color: #e74c3c;
    background-color: #fdd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .commande-card {
    color: #fff;

    background: #99B951;
    border-radius: 10px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .commande-card p {
    margin: 8px 0;
    color: #fff;
    font-size: 16px;
  }
  
  .commande-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .btn-retour {
    
        font-size: 1rem;
        color: #000;
    }
.btn-retour:hover {
    background-color: #99B951;
    color: #fff;

  }
  





  /* Styles responsives pour les écrans de 768px et moins */
@media only screen and (max-width: 768px) {
  .VOIRDETAIL {
      margin-left: 0;
      margin-top: 20%;
  }

  h2 {
    text-align: center;
      font-size: 1.5rem; /* Réduit la taille du titre */
      margin-top: 10px; /* Ajuste l'espacement */
  }

  .commande-card {
      max-width: 90%; /* Assure que la carte prend toute la largeur disponible */
      padding: 15px; /* Réduit le padding pour économiser de l'espace */
      margin: 10px auto; /* Centre la carte et réduit la marge */
  }

  .commande-card p {
      font-size: 14px; /* Réduit légèrement la taille de la police */
  }

  .btn-retour {
      font-size: 0.9rem; /* Réduit la taille de la police */
      width: 100%; /* Bouton prend toute la largeur */
      text-align: center; /* Centre le texte du bouton */
      padding: 10px; /* Ajoute un padding pour faciliter le clic sur mobile */
  }
}

/* Styles responsives pour les écrans de 480px et moins */
@media only screen and (max-width: 480px) {
  .VOIRDETAIL {
      margin-left: 0;
      margin-top:25%;
  }

  h2 {
      font-size: 1.2rem; /* Réduit encore plus la taille du titre */
      margin-top: 8px; /* Ajuste l'espacement */
  }

  .commande-card {
      padding: 10px; /* Réduit le padding pour les petits écrans */
      margin: 5px auto; /* Réduit la marge pour plus d'espace */
  }

  .commande-card p {
      font-size: 12px; /* Réduit davantage la taille de la police */
  }

  .btn-retour {
      font-size: 0.8rem; /* Réduit encore la taille de la police */
      padding: 8px; /* Réduit le padding */
  }
}