

<app-navbar-admin></app-navbar-admin>


<div class="tousproduitBoutiq">

<div *ngIf="produitBoutiqueForm">
    <h2>Modifier l'Association Produit-Boutique</h2>
    <form [formGroup]="produitBoutiqueForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="produit_id">Produit ID:</label>
        <input id="produit_id" formControlName="produit_id" type="number">
      </div>
      <div>
        <label for="boutique_id">Boutique ID:</label>
        <input id="boutique_id" formControlName="boutique_id" type="number">
      </div>
      <div>
        <label for="quantite">Quantité:</label>
        <input id="quantite" formControlName="quantite" type="number">
      </div>
      <button type="submit" [disabled]="!produitBoutiqueForm.valid">Modifier</button>
      <a [routerLink]="['/produitboutique']">Annuler</a>
    </form>
  </div>
  </div>
  