/* Styles généraux pour la page */
.tousproduitBoutiq {
    
    margin-top: 11%;
    padding: 20px;
    max-width: 800px;
    margin-left: 35%;
}
  
  /* Styles pour le titre de la page */
  .tousproduitBoutiq h2 {
    font-size: 2rem;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles pour le formulaire */
  form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Styles pour chaque champ du formulaire */
  form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  /* Labels du formulaire */
  form label {
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  /* Champs de saisie */
  form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  /* Bouton de soumission */
  button {
    background-color: #99B951;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #dcdcdc;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #3F7E44;
  }
  
  /* Style pour le lien "Annuler" */
  a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
    color: #99B951;
  }
  
 


  /* Media Query pour les écrans de taille mobile */
@media only screen and (max-width: 768px) {

  /* Styles généraux pour la page */
  .tousproduitBoutiq {
      margin-top: 5%; /* Réduit l'espace supérieur */
      padding: 15px;
      max-width: 90%; /* Occupe une grande partie de la largeur */
      margin-left: auto;
      margin-right: auto;
  }

  /* Styles pour le titre de la page */
  .tousproduitBoutiq h2 {
      font-size: 1.5rem; /* Réduit la taille du titre */
      margin-top: 50px; /* Ajoute une marge pour descendre le titre */
  }

  /* Formulaire */
  form {
      padding: 15px; /* Réduit le padding du formulaire */
  }

  /* Labels du formulaire */
  form label {
      font-size: 12px; /* Réduit la taille de la police pour les labels */
  }

  /* Champs de saisie */
  form input {
      font-size: 13px; /* Réduit la taille de la police */
      padding: 8px; /* Réduit le padding interne */
  }

  /* Bouton de soumission */
  button {
      font-size: 14px; /* Réduit la taille de la police du bouton */
      padding: 8px; /* Ajuste le padding du bouton */
  }

  /* Style pour le lien "Annuler" */
  a {
      font-size: 16px; /* Réduit la taille de la police du lien */
  }
}
