/* Message de succès */
.alert.success {
    text-align: center;
    padding: 10px;
    color: #155724;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  /* Message d'erreur */
  .alert.error {
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid #f5c6cb;
  }
  
  /* Loader */
  .loader {
    text-align: center;
    font-size: 18px;
    color: #007bff;
    margin: 20px 0;
  }
  




/* Style général */
h2 {
    font-size: 24px;
    color: #333;
    text-align: center; /* Centre le titre */
    /* padding-right: 83%; */
  }
  .text-center{
    text-align: center;
    margin-top: 8%;
    
  }
  a.btnsuccess {
    
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin-left: 30%;
    background-color: #99B951;
    padding: 10px 20px; /* Ajout d'espace autour du texte (haut/bas, gauche/droite) */
    display: inline-block; /* Assure que le bouton prend l'espace nécessaire */
    border-radius: 4px; /* Arrondir les coins du bouton */
  }
  
  
  /* Table customisée */
  .table-container {
    display: flex;
    justify-content: center; /* Centre le tableau */
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 3%;
}
  
  .custom-table {
    width: 65%; /* Largeur de la table */
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* .custom-table th {
    background-color: #f2f2f2; 
     color: #333;
    font-weight: bold;
  } */
  
  /* .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  .custom-table tr:hover {
    background-color: #eaeaea;
  }
  
  /* Styles des boutons */
  .btn {
    padding: 6px 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
  }
  
 
  
  .btn.info {
    background-color: #99B951;
  }
  
  .btn.warning {
    background-color: #99B951;
  }
  
  .btn.danger {
    background-color: #99B951;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  .btn i {
    margin-right: 7px; /* Espace entre l'icône et le texte */
  }
  
  /* Styles des alertes */
  .alert {
    padding: 10px;
    margin: 20px 0;
    border-radius: 4px;
  }
  
  .alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  