<app-header></app-header>

<div class="body">

  <div class="bacgraimage">

    <img
      src="../assets/images/imagecat.jpg"
      alt="Bassine"
      class="header-image"
    >

  </div>

  <div class="overlay">
    <h1>Nos différents catégories laitiers</h1>
  </div>

  <div class="card-container">

    <div
      class="card"
      *ngFor="let categorie of categories"
    >

      <div class="card-content">

        <h2>
          {{ categorie.nom_complet }}
        </h2>

        <p>
          {{ categorie.description }}
        </p>

        <a
          href="/ProduitsAdmin"
          class="view-more-btn"
        >
          Voir plus
        </a>

      </div>

      <!-- Image de la catégorie -->
      <img
        [src]="getImageUrl(categorie.image)"
        [alt]="categorie.nom_complet"
        class="card-image"
      >

    </div>

  </div>

</div>

<app-footer></app-footer>
