<div class="container">
    <h2>Liste des Catégories</h2>
  <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <button class="btn btn-primary mb-3" (click)="navigateToCreate()">Ajouter une catégorie</button>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>image</th>
          <th>Nom Complet</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorie of categories">
          <td>{{ categorie.id }}</td>
          <td>
                <!-- <img [src]="'assets/images/' + categorie.image" alt="{{ categorie.image }}" style="width: 50px; height: auto;">  -->
    
                <img [src]="categorie.image" alt="{{ categorie.image }}" style="width: 50px; height: auto;" /> 
        </td>
          <td>{{ categorie.nom_complet }}</td>
          <td>{{ categorie.description }}</td>
          <td>
            <button class="btn btn-secondary btn-sm me-2" (click)="navigateToEdit(categorie.id)">Modifier</button>
            
            <button class="btn btn-danger btn-sm" (click)="deleteCategorie(categorie.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  