<!-- Navbar Structure -->
<nav class="navbar">
  <div class="navbar-title">Tableau de Bord Admin</div>
  <div class="navbar-right">
      <div class="profile-section">
<strong><h3>Admin</h3></strong>          
        <img src="profil.jpg" alt="Photo de profil" class="profile-image">
          <div class="notifications">
              <i class="fas fa-bell"></i><span class="notification-count">0</span>
          </div>
      </div>
  </div>
</nav>

<!-- Sidebar Structure -->
<aside class="sidebar">
  <nav>
      <ul>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-home"></i> Accueil</a></li>
          <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
          <li><a routerLink="/produitsadmin" routerLinkActive="active"><i class="fas fa-box"></i> Produits</a></li>
          <li><a routerLink="/CategorieAdmin" routerLinkActive="active"><i class="fas fa-tags"></i> Catégories</a></li>
          <li><a routerLink="/representants" routerLinkActive="active"><i class="fas fa-users"></i> Représentants</a></li>
          <li><a routerLink="/region" routerLinkActive="active"><i class="fas fa-map-marker-alt"></i> Régions</a></li>
          <li><a routerLink="/boutique" routerLinkActive="active"><i class="fas fa-store"></i> Boutiques</a></li>
          <li><a routerLink="/produitboutique" routerLinkActive="active"><i class="fas fa-tags"></i> Produit boutique</a></li>
          <li><a routerLink="/commandes" routerLinkActive="active"><i class="fas fa-shopping-cart"></i> Commandes</a></li>
      </ul>
  </nav>
  <button class="deconnexion"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
</aside>
