<!-- src/app/dashboard/admin/navbar-admin/navbar-admin.component.html -->
<aside class="sidebar">
    <h2>Tableau de Bord Admin</h2>
    <nav>
      <ul>
        <li><a routerLink="/"><i class="fas fa-home"></i> Accueil</a></li>
        <li><a routerLink="/produitsadmin"><i class="fas fa-box"></i> Produits</a></li>
        <li><a routerLink="/CategorieAdmin"><i class="fas fa-tags"></i> Catégories</a></li>
        <li><a routerLink="/representants"><i class="fas fa-users"></i> Représentants</a></li>
        <li><a routerLink="/region"><i class="fas fa-map-marker-alt"></i> Régions</a></li>
        <li><a routerLink="/boutique"><i class="fas fa-store"></i> Boutiques</a></li>
        <li><a routerLink="/produitboutique"><i class="fas fa-tags"></i> Produit boutique</a></li>
        <li><a routerLink="/commandes"><i class="fas fa-shopping-cart"></i> Commandes</a></li>
      </ul>
    </nav>
    <button class="deconnexion" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
  </aside>
  